In [2]:
#pip install datasets

# TED Talk en data

>Data source: TED Talks Transcripts for NLP<br>
https://www.kaggle.com/datasets/miguelcorraljr/ted-ultimate-dataset

In [3]:
#Save data in the directory as a csv file

import pandas as pd
ted_data = pd.read_csv('./ted_talks_en.csv').dropna()

In [4]:
# Check data type
ted_data.head()
ted_data.shape
print(type(ted_data))

<class 'pandas.core.frame.DataFrame'>

In [6]:
ted_data.head(2)

,talk_id,title,speaker_1,all_speakers,occupations,about_speakers,views,recorded_date,published_date,event,native_lang,available_lang,comments,duration,topics,related_talks,url,description,transcript
0,1,Averting the climate crisis,Al Gore,{0: 'Al Gore'},{0: ['climate advocate']},{0: 'Nobel Laureate Al Gore focused the world’...,3523392,2006-02-25,2006-06-27,TED2006,en,"['ar', 'bg', 'cs', 'de', 'el', 'en', 'es', 'fa...",272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre..."
1,92,The best stats you've ever seen,Hans Rosling,{0: 'Hans Rosling'},{0: ['global health expert; data visionary']},"{0: 'In Hans Rosling’s hands, data sings. Glob...",14501685,2006-02-22,2006-06-27,TED2006,en,"['ar', 'az', 'bg', 'bn', 'bs', 'cs', 'da', 'de...",628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac..."

# Processing TED Talk en

In [7]:
# Required packeages

from transformers import (AutoConfig, AutoModel, AutoTokenizer)
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")

In [8]:
# Keeping only the 'transcript' feature of each presenter.
# Each row represents each presenter

ted_data_list = ted_data['transcript']

In [9]:
print(type(ted_data_list))
print(type(ted_data_list[5]))
#print(ted_data_list[0]) # One presenters' speech

<class 'pandas.core.series.Series'>
<class 'str'>

In [10]:
print(len(ted_data_list))
#print(ted_data_list[0])

3338

In [11]:
# Required packages

import pandas as pd
from nltk.tokenize import sent_tokenize
import nltk

# Sentence tokenizer package for Natural Language Toolkit (NLTK) library
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/farzanayasmin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [44]:
# Maximum sequence length for is larger (548 > 512), so we need to divide the paragraphs with less than 512 words.
# Dividing the 'ted_data_list' data with ten sentences per paragraph so that they don't exceed more than 510 words for each paragraph
# And keep the dataset as pandas.core.series.Series with strings

def chunk_sentences(text):
    sentences = sent_tokenize(text)
    # Create chunks of ten sentences each
    chunks = [' '.join(sentences[i:i+10]) for i in range(0, len(sentences), 6)]
    return chunks

# Apply the function
chunks_list = ted_data_list.apply(chunk_sentences).tolist()

# Flatten the list of lists
resulting_data = [chunk for sublist in chunks_list for chunk in sublist]

# Convert the list back to a Series
resulting_series = pd.Series(resulting_data)

#print(resulting_series)

In [45]:
print(resulting_series[0])

Thank you so much, Chris. And it's truly a great honor to have the opportunity to come to this stage twice; I'm extremely grateful. I have been blown away by this conference, and I want to thank all of you for the many nice comments about what I had to say the other night. And I say that sincerely, partly because (Mock sob) I need that. (Laughter) Put yourselves in my position. (Laughter) I flew on Air Force Two for eight years. (Laughter) Now I have to take off my shoes or boots to get on an airplane! (Laughter) (Applause) I'll tell you one quick story to illustrate what that's been like for me. (Laughter) It's a true story — every bit of this is true. Soon after Tipper and I left the — (Mock sob) White House — (Laughter) we were driving from our home in Nashville to a little farm we have 50 miles east of Nashville.

In [46]:
print(type(resulting_series[0]))
print(type(resulting_series))

<class 'str'>
<class 'pandas.core.series.Series'>

In [47]:
# As the 'wikitext-103-v1' processsed data has space before each punctuation, we create our data the same.
# Adding a space before puctuations

import pandas as pd

def add_space_before_punctuation(text):
    punctuation_marks = set(".,;:!?-'()")
    result = []
    for char in text:
        if char in punctuation_marks and (not result or result[-1] != ' '):
            result.append(' ')
        result.append(char)
    return ''.join(result)


# Apply the function to each element in the Series
processed_data_series = resulting_series.apply(add_space_before_punctuation)

# The result is a new Series with the processed strings
#print(processed_data_series)

In [48]:
print(type(processed_data_series))
print(type(processed_data_series[0]))
print(processed_data_series[0])

<class 'pandas.core.series.Series'>
<class 'str'>
Thank you so much , Chris . And it 's truly a great honor to have the opportunity to come to this stage twice ; I 'm extremely grateful . I have been blown away by this conference , and I want to thank all of you for the many nice comments about what I had to say the other night . And I say that sincerely , partly because (Mock sob ) I need that . (Laughter ) Put yourselves in my position . (Laughter ) I flew on Air Force Two for eight years . (Laughter ) Now I have to take off my shoes or boots to get on an airplane ! (Laughter ) (Applause ) I 'll tell you one quick story to illustrate what that 's been like for me . (Laughter ) It 's a true story — every bit of this is true . Soon after Tipper and I left the — (Mock sob ) White House — (Laughter ) we were driving from our home in Nashville to a little farm we have 50 miles east of Nashville .

In [49]:
#pip install datasets pandas

In [50]:
#load package

from datasets import Dataset
import pandas as pd

In [51]:
# First, convert the series to a dataframe with column name as 'text'
df = processed_data_series.to_frame(name='text')

# Convert the dataframe to a Dataset
ted_data_dataset = Dataset.from_pandas(df)

# To verify the conversion
print(type(ted_data_dataset))

# Now, you can use save_dataset(ds)
# save_dataset(ted_data_dataset)

<class 'datasets.arrow_dataset.Dataset'>

In [52]:
print(type(ted_data_dataset[1]))

<class 'dict'>

In [53]:
print(ted_data_dataset[2])

{'text': "There was no motorcade back there . (Laughter ) You 've heard of phantom limb pain ? (Laughter ) This was a rented Ford Taurus . (Laughter ) It was dinnertime , and we started looking for a place to eat . We were on I -40 . We got to Exit 238 , Lebanon , Tennessee . We got off the exit , we found a Shoney 's restaurant . Low -cost family restaurant chain , for those of you who don 't know it . We went in and sat down at the booth , and the waitress came over , made a big commotion over Tipper . (Laughter ) She took our order , and then went to the couple in the booth next to us , and she lowered her voice so much , I had to really strain to hear what she was saying ."}

In [54]:
# Special labels for predicting punctuations

special_labels = {',': 'I-COMMA',
                  '.': 'I-DOT',
                  '?': 'I-QMARK',
                  '!': 'I-EMARK',
                  ':': 'I-COLON',
                  ';': 'I-SEMICOLON',
                  '-': 'I-HYPHEN', # Label for the hyphen (new)
                  "'": 'I-APOST'  } # Label for the apostrophe (new)
normal_label = 'O'

### Filtering out paragraph that are less than 10 and more than 510 tokens or words

In [58]:
def descrete_and_label(list_of_lines):
    list_of_lists = []
    for i, line in enumerate(list_of_lines):
        tkn_line = tokenizer.tokenize(line)
        if len(tkn_line) < 10 or len(tkn_line) > 510:
            continue
        for word in line.split():
            lbl = normal_label
            brek = False
            sl = special_labels.get(word, None)
            if sl:
                if list_of_lists:
                    list_of_lists[-1][2] = sl
                    brek = True
            if not brek:
                list_of_lists.append([i, word, lbl])
    return list_of_lists

In [59]:
import pandas as pd

def save_dataset(ds, path):
    filtered = []
    filtered += [i['text'] for i in ds if len(i['text']) > 20]
    dataset_1 = descrete_and_label(filtered)
    train_data = pd.DataFrame(dataset_1, columns=["sentence_id", "words", "labels"])
    train_data.to_csv(path, index=False)

In [60]:
#type(dataset_1)
#train_data.shape
#print(dataset_1[0])

In [61]:
#Creating a folder called processed_tedtalk in the working directory

import os

directory = 'processed_tedtalk'
if not os.path.exists(directory):
    os.makedirs(directory)

In [62]:
from datasets import load_dataset, ReadInstruction

In [63]:
from datasets import load_dataset, Dataset

# Our ted_data_dataset is already loaded

binz = 10
for i in range(binz):
    start_pct = int(i * (100/binz))
    end_pct = int((i+1) * (100/binz))
    print(start_pct, end_pct)

    # Using the shard method to split ted_data_dataset
    sub_dataset = ted_data_dataset.shard(num_shards=binz, index=i)
    
    print(len(sub_dataset))
    save_dataset(sub_dataset, f'./processed_tedtalk/train{i}-{binz}.csv')

0 10
7025
10 20
7025
20 30
7025
30 40
7025
40 50
7025
50 60
7024
60 70
7024
70 80
7024
80 90
7024
90 100
7024

In [64]:
type(sub_dataset[5])
print(sub_dataset[5])

{'text': 'But what we really need is , of course , a search function , a search function where we can copy the data up to a searchable format and get it out in the world . And what do we hear when we go around ? I \'ve done anthropology on the main statistical units . Everyone says , "It \'s impossible . This can \'t be done . Our information is so peculiar in detail , so that cannot be searched as others can be searched . We cannot give the data free to the students , free to the entrepreneurs of the world ." But this is what we would like to see , isn \'t it ? The publicly funded data is down here . And we would like flowers to grow out on the net .'}